.portfolio-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.PH-logo-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}



.PH-nav {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
}
/* 
.PH-work-link {
  padding: 0 -10px;
  border: 2px solid green;
} */

/* .PH-nav button {
  color: white;
  background-color: transparent;
  margin: 0 10px
} */

.PH-title {
  font-size: 1.5em;
}

