* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #252525; 
  background-color: #D8D8F0;
}
 
.header-bar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 30px 60px;
}

.logo {
  flex: 1 1 auto; 
  max-width: 45px;
}

.nav-links {
  flex: 1 1 50%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}

.about-me {
  margin: 20px;
}

.skills {
  /* display: flex; */
  /* flex-flow: row wrap; */
  height: 50px;
  width: 50px;
}

.tech-thumbnail {
  height: 25px;
  width: 25px;
}

.contact-thumbnail {
  margin-left: 25px;
  height: 35px;
  width: 35px;
}

.GH, .LI {
  height: 40px
}

main {
  background-color: #D8D8F0;
  width: 100%;
}

h3 {
  color:#252525;
}

.projects {
  width: auto;
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
}

.project {
  display: flex;
  flex-flow: row wrap;
  height: 600px;
  width: 100%;
  margin-bottom: 100px;
  

  border: 2px solid green;
}

.project-img {
  flex: 5 1 auto;
  width:70%;
  display: flex;
  align-items: center;
  justify-content: center;


  border: 2px solid blue;
}


.project-info {
  flex: 2 1 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  padding: 20px;
  

  border: 2px solid red;
}

.project-details {
  display: flex;
  flex-flow: column;
}

.tech-stack{
  /* display: flex;
  flex-flow: row; */
  height:25px;
  width:25px;
}

.description-divider {
  align-self: center;
  border: 2px solid #000060;
  margin: 20px 0;
  width: 90%;
}

.description {
  margin: 0 5px,
}

.project-links {
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.link {
  text-decoration: none;
}

.project-thumbnail {
  width: auto;
}

.project-title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer {
  margin: 50px 0;
}

.footer {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.contact-info {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.footer-contact-thumbnail {
  height: 35px;
  width: 35px;
}



@media all and (max-width: 900px) {
  .project {
    flex-flow: column;  
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .project-img {
    width: 100%;
    order: 1;
  }

  .project-info {
    flex-flow: column ;
    width: 100%;
    margin: auto;
    order: 2;
  }

  .project-details {
    height: 100%;
    width: 100%;
  }
}