* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  color: white;
  margin: 0 10px;
}

a:hover {
  transform: scale(1.1);
  color: #A8A8A8;
}

.link {
  color:#000060;
  font-size: large;
}

.link:hover {
  transform: scale(1.1);
  color: #D8D8F0
}
 
.header-bar {
  position: relative;
  display: flex;
  color: white;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px 60px 150px 60px;
  height: auto;
  background-image: linear-gradient( #1848C0, #000060);
}

.header-title-box {
  display: flex;
  flex-flow:row wrap;
  flex: 2 1 auto;
  justify-content: center;
}

.header-title {
  flex: 1 auto;
}

.header-title h1 {
  font-size: 72px
}

.header-title h2 {
  font-size: 48px
}

.logo {
  flex: 1 1 auto; 
  max-width: 150px;
  height: 110px;
}

.header-links {
 display: flex;
 flex-flow: row;
 flex: 1 1 auto;
 justify-content: space-around;
 font-size: 28px;
 margin-top: 50px;
 text-decoration: none;
}

.label {
  font-size: 72px;
  margin: 30px;
  color: #000060;
  z-index: 99;
}

.about-me {
  width: 100%;
  padding: 15vh 10vw;
  text-align: center;
  margin-top: -100px;
  clip-path: polygon(0 0,50% 5vw,100% 0,100% calc(100% - 5vw),50% 100%, 0 calc(100% - 5vw));
  background-color: white;
}

.about-me-pic {
  width: 30%;
  margin-top: 30px;
  border-radius: 50%;
}

.about-me h2{
  color: #000060;
}

.text {
  max-width: 600px;
  margin: 50px auto;
  padding-bottom: 50px;
  text-align: justify;
  text-justify: inter-word;
}

.text strong {
  font-size: 22px;
  font-weight: 300;
  color: #000060;
  line-height: 2;
}

.end-skills {
  text-align: center;
}

.skills-section {
  width: 100%;
  padding: 15vh 10vw;
  text-align: center;
  margin: -100px 0;
  padding-bottom: 200px;
  clip-path: polygon(0 0,50% 5vw,100% 0,100% calc(100% - 5vw),50% 100%, 0 calc(100% - 5vw));
  background-color: lightgray;

}

.skills {
  display: flex;
  flex-flow: row wrap;
  height: auto;
  justify-content: center;
}

.skills .svgs {
  height: 100px;
  width: 100px;
  margin: 20px 50px 50px 50px;
}

.svg-with-label {
  display: flex;
  flex-flow: column;
}

.svg-with-label span {
  font-size: 22px;
  font-weight: 300;
  color: #000060;
  margin-bottom: -50px;
}

.techs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tech-stack .svg-with-label span {
  display: none;
}

.svgs {
  flex: 1 1 auto;
  margin: 5px;
}

.tech-thumbnail {
  height: 25px;
  width: 25px;
}

.contact-thumbnail {
  margin-left: 25px;
  height: 35px;
  width: 35px;
}

.projects {
  width: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  margin-top: -150px;
}

#projects {
  margin-bottom: -200px;
}

.project {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 35vh 10vw;
  margin: -100px 0;
  clip-path: polygon(0 0,50% 5vw,100% 0,100% calc(100% - 5vw),50% 100%, 0 calc(100% - 5vw));
}

.right {
  background-color: white;

}

.left {
  background-color: lightgray;
}

.project-img {
  flex: 5 1 auto;
  width:70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-info {
  flex: 2 1 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  padding: 20px;
}

.project-details {
  display: flex;
  flex-flow: column;
}

.tech-stack .svgs {
  height: 25px;
  width: 25px;
}

.description-divider {
  align-self: center;
  border: 2px solid #000060;
  margin: 20px 0;
  width: 90%;
}

.description {
  margin: 0 5px 30px 5px;
  color: #000060;
  font-size: 22px;
  text-align: justify;
}

.project-links {
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.project-links .link:hover{
  color: #1848C0;
}


.project-thumbnail {
  width: 95%;
}

.project-title {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000060;
}

.footer {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center; 
  text-align: center;
  background-color: #000060;
  color:white;
  margin-top: -100px;
  padding: 100px 0 25px 0;
  clip-path: polygon(0 0,50% 5vw,100% 0,100% 100%, 0 100%);
  background-image: linear-gradient( #1848C0, #000060);

}

.footer h2 {
  font-size: 48px;
}

.contact-info {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 50px 0;
}

.contact-info-right, .contact-info-left {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  justify-content: space-around; 
}


@media all and (max-width: 1100px) {
  .project {
    flex-flow: column;  
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .project-img {
    width: 100%;
    order: 1;
  }

  .project-info {
    flex-flow: column ;
    width: 100%;
    margin: auto;
    order: 2;
  }

  .project-details {
    height: 100%;
    width: 80%;
  }
}

@media all and (max-width: 815px) {

  .header-bar {
    height: auto;
  }

  .header-title-box {
    width: auto;
    flex-flow: column;
    align-items: center;
  }

  .header-title {
    text-align: center;
  }

  .header-links {
    margin-top: 30px;
  }

  .skills {
    margin-top: 50px;
  }

  .skills .svgs {
    height: 70px;
    max-width: 40px;
    margin: 0 20px 30px 20px;
  }

  .svg-with-label {
    margin: auto;
  }
}

@media all and (max-width: 525px) {

  .header-bar {
    height: auto;
  }

  .header-title-box {
    width: auto;
    flex-flow: column;
    align-items: center;
  }

  .header-title {
    text-align: center;
  }

  .header-title h1 {
    font-size: 28px;
  }

  .header-title h2 {
    font-size: 22px;
  }

  .header-links {
    font-size: 100%;
    margin-top: 30px;
  }

  .about-me-pic {
    width: 80%;
  }

  .tech-stack .svgs {
    margin: 3px;
  }

  .label {
    font-size: 28px;
  }

  .project-info {
    padding: 0;
    padding-top: 20px;
    margin: 0;
    width: auto;
  }

  .contact-info-right, .contact-info-left {
    width: 70%;
  }
}